<div class = "bootstrap-wrapper">
   
    <div class="container">

        <div class="row">
             
            <div class="col-md-6 offset-md-3">
              <mat-card class="custom">
                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt="">
                </div>
                <h1 class="text-center">Register Here !!</h1>


                <form class="pad" (ngSubmit)="formSubmit()">
                    
                    <!--Username field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.username"
                        name="username"
                        matInput 
                        placeholder="Enter here...">
                        <mat-hint>Username must be unique</mat-hint>
                      </mat-form-field>


                       <!--password field-->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.password"
                        name="password"
                        type="password" 
                         matInput placeholder="Enter here...">
                      </mat-form-field>


                      <!--firstName field-->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input 
                        required 
                        [(ngModel)]="user.firstName"
                        name="firstName"
                        type="text" matInput placeholder="Enter here...">
                      </mat-form-field>


                      <!--lastName field-->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input  
                        required
                        [(ngModel)]="user.lastName"
                        name="lastName"
                        type="text" matInput placeholder="Enter here...">
                      </mat-form-field>


                      <!--email field-->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.email"
                        name="email"
                        type="email" matInput placeholder="Enter here...">
                      </mat-form-field>


                      <!--password field-->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input  
                        required
                        [(ngModel)]="user.phone"
                        name="phone"
                        type="number" matInput placeholder="Enter here...">
                      </mat-form-field>
 
                      <div class="container text-center">
                      <button type="submit" mat-raised-button color="primary" >Register</button>
                        <button class="clearBtn" mat-raised-button color="accent">Clear</button>


                       

                    </div>

                </form>
              </mat-card>
            </div>
         
        </div>

    </div>


</div>
