<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin" >
            <mat-icon mat-icon>home</mat-icon>
            Home
        </button>
        <mat-divider></mat-divider>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-icon>person-icon</mat-icon>
            Profile
        </button>
        <mat-divider></mat-divider>
        <button mat-list-item routerLink="/admin/categories">
            <mat-icon mat-icon>list</mat-icon>
            Categories
        </button>
        <mat-divider></mat-divider>
        <button mat-list-item routerLink="/admin/add-category">
            <mat-icon mat-icon>add_circle_outline</mat-icon>
            Add Categories
        </button>
        <mat-divider></mat-divider>
        <button mat-list-item routerLink="/admin/quizzes">
            <mat-icon mat-icon>quiz</mat-icon>
            Quizes
        </button>
        <mat-divider></mat-divider>
        <button mat-list-item routerLink="/admin/add-quiz">
            <mat-icon mat-icon>add</mat-icon>
            Add Quize
        </button>
        <mat-divider></mat-divider>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-icon>logout</mat-icon>
            Logout
        </button>
    </mat-action-list>
</mat-card>
